%content {
    display: flex;
    height: calc(100vh - 50px);
    width: 100%;
}

.content__center {
    @extend %content;
    justify-content: center;
    align-items: center;
}

.content__top-middle {
    @extend %content;
    justify-content: center;
}


.login-form {
    padding: 15px;
    border: 2px solid rgba(24, 144, 255, 0.86);
    border-radius: 15px;
}

.blocked-abon {
    background-color: #f5c6cb;
}
